body{
    background-color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 2%;
    color: #434455;
}

h2, h3, h4, h5, h6 {
    color: #2E2F42 ;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

img {
    display: block;
}

ul, ol {
    list-style-type: none;
    display: flex; 
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-div-container {
    display: flex;
    flex-direction: row;
    padding: 0 9%;
    justify-content: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-span {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.first-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;

}

.first-button:hover {
    background-color: #404BBF;
}

.first-button:focus {
    background-color: #404BBF;
}

.fucking-first-h {
    color: #ffffff;
    line-height: 60px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.qualities-section {
    padding: 120px 0;
}

.qualities-list {
    display: flex;
    gap: 24px;
}

.qualities-list-item {
    width: calc((100% - 72px) / 4);
}

.qualities-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.qualities-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-section > li {
    background-color: #FFFFFF;
}

.portfolio-section > li {
    background-color: #E7E9FC;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-section-list-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius:  0px 0px 4px 4px;
}

.team-section-list-item-div {
    padding: 32px 0;
}

.team-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc(( 100% - 48px ) / 3);
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background-color: #2E2F42;
    padding: 100px 0
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-paragraph {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}