body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 2%;
    color: #434455;
}

h2,
h3,
h4,
h5,
h6 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.container {
    width: 100%;
}

svg {
    height: 24px;
    width: 24px;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
    display: none;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    display: flex;
}

.page-header {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-span {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::before {
    content: "";
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current .address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section {
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("https: //github.com/olmag99/goit-markup-hw-04/blob/main/images/7e83b6c8ee4603ea892aa8aaebb3c5fe.jpg?raw=true");
    background-repeat: no-repeat;
    background-color: #2E2F42B2;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    max-width: 1440px;
}

.first-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.first-button:hover,
.first-button:focus {
    background-color: #404BBF;
}

.fucking-first-h {
    color: #ffffff;
    line-height: 60px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.qualities-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities-list {
    display: flex;
    gap: 24px;
}

.qualities-list-item {
    width: calc((100% - 72px) / 4);
}

.qualities-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.qualities-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.qualities-list-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.qualities-list-svg {
    height: 64px;
    width: 64px;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-section>li {
    background-color: #FFFFFF;
}

.portfolio-section>li {
    background-color: #E7E9FC;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-section-list-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section-list-item:hover {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-section-list-item-div {
    padding: 32px 0;
}

.team-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-social-media-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.social-media-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.social-media-list {
    justify-content: center;
    display: flex;
    gap: 24px;
}

.social-media-button {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button:hover,
.social-media-button:focus {
    background-color: #404bbf;
}

.social-media-button-container {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border: 2px #4D5AE5;
    border-radius: 70%;
}

.social-media-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    place-content: center;
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg>.social-media-link {
    width: 24px;
    height: 24px;
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #31d0aa;
}

.social-media-svg {
    width: 24;
    height: 24;
    fill: #f4f4fd;
}

.social-media-svg.current {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-button:hover,
.social-media-button:focus {
    background-color: #31d0aa;
    ;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
    transform: translateY(0%)
}

.portfolio-list-item-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img-div {
    position: relative;
    overflow: hidden;
}

.portfolio-img-div-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0
}

.footer-div-main {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer-info-container {
    margin-right: 120px;
}

.footer-social-container {
    margin-bottom: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.social-media-links-footer {
    gap: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-media-paragraph {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
    gap: 16px;
}

.footer-formarea-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-formarea-form {
    display: flex;
    gap: 24px;
}

.footer-formarea-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-formarea-input::placeholder {
    color: #ffffff;
}

.footer-formarea-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-formarea-button-svg {
    width: 24;
    height: 24;
    margin-left: 16px;
}

.overlay-window-div-first {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-window-div-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.overlay-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-window-button:hover,
.overlay-window-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.overlay-button-svg {
    width: 8;
    height: 8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-window-first-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.user-name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}

.user-name-div {
    position: relative;
}

.user-name-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.user-name-svg {
    width: 18;
    height: 24;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-input:focus .user-name-svg,
.user-name-input:hover .user-name-svg {
    fill: #4D5AE5;
}