body{
    background-color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 2%;
    height: 3300px;
    width: 1440px;
    align-content: center;
}

h2, h3, h4, h5, h6, {
    color: #2E2F42 ;
}

p {
    display: inline;
}

ul {
    list-style-type: none;
    display: inline-block;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.page-header {
    height: 72px;
    width: 100%;
}

.nav-list {
    color:#2E2F42;
    display: inline;
}

.nav-link {
    color: #2E2F42;
    display: inline-block;
}

.h1-section {
    background-color: #2E2F42;
    height: 600px;
    width: 100%;
}

.h1-section > button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.fucking-h1 {
    color: #ffffff;
    width: 496px;
    height: 120px;
    line-height: 60px;
    font-weight: 700;
    font-size: 56px;
    align-self: center;
}

.qualities-list > li {
    box-sizing: border-box;
    height: 104px;
    width: 264px;
}

.qualities-list > li > h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.qualities-list > p {
    color: #434455;
}

.team-section {
    background-color: #F4F4FD;
}

.team-section > li {
    width: 264px;
    height: 380px;
    padding: 0, 0, 32px, 0;
    background-color: #FFFFFF;
}

.team-section > li > h3 , p {
    text-align: center;
}

.portfolio-section > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-section > li {
    background-color: #E7E9FC;
    width: 360px;
    height: 420px;
    border: 0, 1px, 1px, 1px;
    padding: 32px, 16px, 32px, 16px;
}

.portfolio-section > li > .text-part {
    border: 0, 1px, 1px, 1px;
    padding: 32px, 16px, 32px, 16px;
    height: 120px;
    width: 360px;
}

footer {
    background-color: #2E2F42;
}

footer > p {
    color: #F4F4FD;
}